<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,290},{180,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,80}}</string>
                <key>sourceSize</key>
                <string>{180,80}</string>
            </dict>
            <key>end_btn_replay_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,208},{180,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,80}}</string>
                <key>sourceSize</key>
                <string>{180,80}</string>
            </dict>
            <key>end_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,126},{180,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,80}}</string>
                <key>sourceSize</key>
                <string>{180,80}</string>
            </dict>
            <key>end_btn_share_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,44},{180,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,80}}</string>
                <key>sourceSize</key>
                <string>{180,80}</string>
            </dict>
            <key>end_icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,78},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>end_icon_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{540,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,2}}</string>
                <key>sourceSize</key>
                <string>{540,2}</string>
            </dict>
            <key>end_icon_slogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,176},{476,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,99}}</string>
                <key>sourceSize</key>
                <string>{476,99}</string>
            </dict>
            <key>end_icon_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{357,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,40}}</string>
                <key>sourceSize</key>
                <string>{357,40}</string>
            </dict>
            <key>end_icon_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,44},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>end_icon_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,44},{416,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,32}}</string>
                <key>sourceSize</key>
                <string>{416,32}</string>
            </dict>
            <key>mask_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,1136}}</string>
                <key>sourceSize</key>
                <string>{645,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_over.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e55f72e6ebd7e0cc69a8bb189425890$</string>
            <key>textureFileName</key>
            <string>game_over.png</string>
        </dict>
    </dict>
</plist>
