<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>road01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,690}}</string>
                <key>offset</key>
                <string>{0,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,446},{390,690}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>road02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{390,690}}</string>
                <key>offset</key>
                <string>{0,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,446},{390,690}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>road03.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{390,676}}</string>
                <key>offset</key>
                <string>{0,-230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,460},{390,676}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>road04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{370,634}}</string>
                <key>offset</key>
                <string>{0,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,445},{370,634}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>road.png</string>
            <key>size</key>
            <string>{1550,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca875462563f95a720c66a79b99663c0:033dd6839c7d82ef6eff692c51732b22:e938a01e42aa12f413bbcc1d669c039e$</string>
            <key>textureFileName</key>
            <string>road.png</string>
        </dict>
    </dict>
</plist>
