<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_car_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{229,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,300}}</string>
                <key>sourceSize</key>
                <string>{229,300}</string>
            </dict>
            <key>main_car_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{274,300}</string>
            </dict>
            <key>main_car_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{274,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{274,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_car.png</string>
            <key>size</key>
            <string>{908,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:208aa176e3975f151779529bb164efa6:159ffb3d61b83e8129101ae71274854b:df1a90ee3b20d37c7f5cd679d770dc1a$</string>
            <key>textureFileName</key>
            <string>main_car.png</string>
        </dict>
    </dict>
</plist>
