<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_road_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{254,694}}</string>
                <key>offset</key>
                <string>{193,-221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,442},{254,694}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1052},{254,696}}</string>
                <key>offset</key>
                <string>{193,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,440},{254,696}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{254,674}}</string>
                <key>offset</key>
                <string>{193,-231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,462},{254,674}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,698},{252,636}}</string>
                <key>offset</key>
                <string>{193,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,442},{252,636}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_mid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,690}}</string>
                <key>offset</key>
                <string>{0,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,446},{390,690}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_mid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{390,690}}</string>
                <key>offset</key>
                <string>{0,-223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,446},{390,690}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_mid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{390,676}}</string>
                <key>offset</key>
                <string>{0,-230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,460},{390,676}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_mid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,680},{370,634}}</string>
                <key>offset</key>
                <string>{0,-194}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,445},{370,634}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{252,694}}</string>
                <key>offset</key>
                <string>{-194,-221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,442},{252,694}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{252,696}}</string>
                <key>offset</key>
                <string>{-194,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,440},{252,696}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{252,674}}</string>
                <key>offset</key>
                <string>{-194,-231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,462},{252,674}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>main_road_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,698},{250,636}}</string>
                <key>offset</key>
                <string>{-195,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,442},{250,636}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_road.png</string>
            <key>size</key>
            <string>{1904,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed879a9bdc271b7b2786917e91d05295:45bcd21332f67a9b164294b50bd7c66a:ec81e59997aa264611ff5e917602c966$</string>
            <key>textureFileName</key>
            <string>main_road.png</string>
        </dict>
    </dict>
</plist>
