<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_car_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{229,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,300}}</string>
                <key>sourceSize</key>
                <string>{229,300}</string>
            </dict>
            <key>main_car_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{268,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,300}}</string>
                <key>sourceSize</key>
                <string>{268,300}</string>
            </dict>
            <key>main_car_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,300}}</string>
                <key>sourceSize</key>
                <string>{268,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_car.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca74cdb649d4f43d03c5b11ec15dae3$</string>
            <key>textureFileName</key>
            <string>main_car.png</string>
        </dict>
    </dict>
</plist>
